p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
    color: antiquewhite;
}

body {
    background-color: saddlebrown;
}

img {
    display: flex;
    width: 200px;
    margin: auto;
}

.gf {
    width: 500px;
}